<nav class="navbar font-sans">
  <div class="navbar__hamburger">
    <span class="navbar__hamburger-bar"></span>
    <span class="navbar__hamburger-bar"></span>
    <span class="navbar__hamburger-bar"></span>
  </div>
  <ul class="navbar__list">
    <li class="navbar__item" onclick="{{hAbout}}">About</li>
    <li class="navbar__item" onclick="{{hShowMovies}}">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M20 10.6L12 5.4L10 6.7V5H8V8L4 10.6L5.9 13.3L6 13.2V19H11V15H13V19H18V13.2L18.1 13.3L20 10.6ZM5.4 10.9L12 6.6L18.6 10.9L17.9 11.9L12 8L6.1 11.9L5.4 10.9ZM17 18H14V14H10V18H7V12.6L12 9.3L17 12.6V18Z"
          fill="currentColor"
          opacity="0.6"
        />
      </svg>
      Accueil
    </li>
    <div class="navbar__search-container">
      <input
        id="search-input"
        type="text"
        class="navbar__search-input"
        placeholder="Rechercher un film"
      />
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        onclick="C.searchMovies()"
      >
        <path
          d="M19.7 18.3L15.5 14.1C15.3 13.9 15 13.8 14.7 13.8C15.5 12.8 16 11.4 16 10C16 6.7 13.3 4 10 4C6.7 4 4 6.7 4 10C4 13.3 6.7 16 10 16C11.4 16 12.8 15.5 13.8 14.6C13.8 14.9 13.8 15.2 14.1 15.4L18.3 19.6C18.5 19.8 18.8 19.9 19 19.9C19.2 19.9 19.5 19.8 19.7 19.6C20.1 19.3 20.1 18.7 19.7 18.3ZM10 14.5C7.5 14.5 5.5 12.5 5.5 10C5.5 7.5 7.5 5.5 10 5.5C12.5 5.5 14.5 7.5 14.5 10C14.5 12.5 12.5 14.5 10 14.5Z"
          fill="#1C2E45"
          fill-opacity="0.6"
        />
      </svg>
    </div>
    <div class="navbar__profile-container">
      <select
        class="navbar__profile-select"
        onchange="C.handlerProfileSelect(this)"
      >
        {{profileOptions}}
      </select>
      <img
        id="profile-image"
        src="../server/images/{{image}}"
        alt="Avatar du profil"
        class="navbar__profile-avatar"
        onclick="C.showFavorites(C.getSelectedProfileId())"
      />
    </div>
  </ul>
</nav>
