/* Style for the film cards */
.card__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.25rem;
  flex-direction: column; /* Permet d'empiler la carte et le titre */
}

.card {
  display: block;
  position: relative;
  width: 18.75rem;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-0.625rem);
}

.card img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06); /* Ajoute un beau box shadow */
}

.card__title {
  color: white; /* Garde le texte en blanc */
  font-size: 1.2rem;
  text-align: center;
  padding: 0.625rem;
  margin-top: 1rem; /* Ajoute un espace entre la carte et le titre */
  width: 100%; /* S'assure que le titre prend toute la largeur */
  cursor: pointer;
  background-color: #333; /* Ajoute un fond pour le titre */
  transition: box-shadow 0.3s ease;
  border-radius: 0.75rem; /* Ajoute un border radius */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06); /* Ajoute un beau box shadow */
}
