<nav class="navbar font-sans">
  <ul class="navbar__list">
    <li class="navbar__item" onclick="{{hAbout}}">About</li>
    <li class="navbar__item" onclick="{{hShowMovies}}">Home</li>
  </ul>
  <div class="navbar__profile-container">
    <select class="navbar__profile-select" onchange="C.handlerProfileSelect(this)">
      {{profileOptions}}
    </select>
    <img id="profile-image" src="https://mmi.unilim.fr/~mercierlorrai1/SAE2.03-Mercier--Lorrain/server/images/{{image}}" alt="Avatar du profil" class="navbar__profile-avatar" onclick="C.showFavorites(C.getSelectedProfileId())">
  </div>
</nav>